@media (width>=800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    grid-column: -1 / 1;
  }
  .Billede1 {
    grid-column: -1 / 2;
    grid-row: 1 / 3;
  }
  .Billede2 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  h2 {
    grid-column: -1 / 2;
    height: max-content;
  }
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .speciel {
    grid-column: 1 /2;
  }
  .order {
    order: -1;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .img2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .img4 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }

  .img5 {
    grid-column: 1 / 2;
  }

  .img6 {
    grid-row: 4 / 6;
    grid-column: -1 / -4;
  }
  .bred {
    max-width: 65ch;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /*.flex_col:last-child{

  }*/
}
